In [1]:
import pandas as pd
import numpy as np

In [3]:
# Use raw string (r"") for Windows file paths to avoid unicode escape errors
file_path = r"C:\Users\lazb3\OneDrive\Escritorio\Perfil profesional\Coursera\Google Advanced Data Analytics\waze_dataset.csv"
df = pd.read_csv(file_path, encoding='utf-8-sig')  # Read the CSV file into a DataFrame

In [6]:
df.head(10)  # Display the first 10 rows of the DataFrame

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
0,0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android
1,1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone
2,2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android
3,3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone
4,4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android
5,5,retained,113,103,279.544437,2637,0,0,901.238699,439.101397,15,11,iPhone
6,6,retained,3,2,236.725314,360,185,18,5249.172828,726.577205,28,23,iPhone
7,7,retained,39,35,176.072845,2999,0,0,7892.052468,2466.981741,22,20,iPhone
8,8,retained,57,46,183.532018,424,0,26,2651.709764,1594.342984,25,20,Android
9,9,churned,84,68,244.802115,2997,72,0,6043.460295,2341.838528,7,3,iPhone

In [7]:
df.info()  # Display information about the DataFrame, including data types and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       14999 non-null  int64
 1   label                    14299 non-null  object
 2   sessions                 14999 non-null  int64
 3   drives                   14999 non-null  int64
 4   total_sessions           14999 non-null  float64
 5   n_days_after_onboarding  14999 non-null  int64
 6   total_navigations_fav1   14999 non-null  int64
 7   total_navigations_fav2   14999 non-null  int64
 8   driven_km_drives         14999 non-null  float64
 9   duration_minutes_drives  14999 non-null  float64
 10  activity_days            14999 non-null  int64
 11  driving_days             14999 non-null  int64
 12  device                   14999 non-null  object
dtypes: float64(3), int64(8), object(2)
memory usage: 1.5+ MB

In [9]:
# The DataFrame has 14999 entries and 6 columns
# The data types are:
# # - 'id': int64
# # - 'label': object (contains NaN values)
# # - 'date': object (string format)
# # - 'lat': float64
# # - 'lon': float64
# # - 'speed': float64
# # The 'label' column has 700 NaN values, which is about 4.67% of the total entries 
# Check for NaN values in the 'label' column
df['label'].isna().sum()  # Count the number of NaN values in the 'label' column

np.int64(700)

In [13]:
# Calculate % of iPhone nulls and Android nulls
iphone_nulls = df[df['device'] == 'iPhone']['label'].isna().sum()
android_nulls = df[df['device'] == 'Android']['label'].isna().sum()
total_entries = len(df)
iphone_nulls_percentage = (iphone_nulls / total_entries) * 100
android_nulls_percentage = (android_nulls / total_entries) * 100
print(f"iPhone nulls: {iphone_nulls} ({iphone_nulls_percentage:.2f}%)")
print(f"Android nulls: {android_nulls} ({android_nulls_percentage:.2f}%)")

iPhone nulls: 447 (2.98%)
Android nulls: 253 (1.69%)

In [14]:
# Calculate % of iPhone users and Android users in full dataset
iphone_users = df[df['device'] == 'iPhone'].shape[0]
android_users = df[df['device'] == 'Android'].shape[0]
total_users = iphone_users + android_users
iphone_users_percentage = (iphone_users / total_users) * 100
android_users_percentage = (android_users / total_users) * 100
print(f"iPhone users: {iphone_users} ({iphone_users_percentage:.2f}%)")
print(f"Android users: {android_users} ({android_users_percentage:.2f}%)")

iPhone users: 9672 (64.48%)
Android users: 5327 (35.52%)

In [17]:
# Calculate counts of churned vs. retained
churned_count = df[df['label'] == 'churned'].shape[0]
retained_count = df[df['label'] == 'retained'].shape[0]
churned_and_retained_total = churned_count + retained_count
churned_percentage = (churned_count / churned_and_retained_total) * 100
retained_percentage = (retained_count / churned_and_retained_total) * 100
print(f"Churned users: {churned_count} ({churned_percentage:.2f}%)")
print(f"Retained users: {retained_count} ({retained_percentage:.2f}%)")

Churned users: 2536 (17.74%)
Retained users: 11763 (82.26%)

In [18]:
# Calculate median values of all columns for churned and retained users
median_values = df.groupby('label').median(numeric_only=True)
print("Median values for churned and retained users:")
print(median_values)

Median values for churned and retained users:
              ID  sessions  drives  total_sessions  n_days_after_onboarding  \
label
churned   7477.5      59.0    50.0      164.339042                   1321.0
retained  7509.0      56.0    47.0      157.586756                   1843.0

          total_navigations_fav1  total_navigations_fav2  driven_km_drives  \
label
churned                     84.5                    11.0       3652.655666
retained                    68.0                     9.0       3464.684614

          duration_minutes_drives  activity_days  driving_days
label
churned               1607.183785            8.0           6.0
retained              1458.046141           17.0          14.0

In [20]:
# Add a column to df called `km_per_drive`
df['km_per_drive'] = df['driven_km_drives'] / df['drives']  # Calculate km per drive
# Group by `label`, calculate the median, and isolate for km per drive
median_km_per_drive = df.groupby('label')['km_per_drive'].median()
print("Median km per drive for churned and retained users:")
print(median_km_per_drive)

Median km per drive for churned and retained users:
label
churned     74.109416
retained    75.014702
Name: km_per_drive, dtype: float64

In [21]:
# Add a column to df called `km_per_driving_day`
df['km_per_driving_day'] = df['driven_km_drives'] / df['driving_days']  # Calculate km per driving day
# Group by `label`, calculate the median, and isolate for km per driving day
median_km_per_driving_day = df.groupby('label')['km_per_driving_day'].median()
print("Median km per driving day for churned and retained users:")
print(median_km_per_driving_day)

Median km per driving day for churned and retained users:
label
churned     697.541999
retained    289.549333
Name: km_per_driving_day, dtype: float64

In [25]:
# Add a column to df called `drives_per_driving_day`
df['drives_per_driving_day'] = df['drives'] / df['driving_days']  # Calculate drives per driving day
# Group by `label`, calculate the median, and isolate for drives per driving day
median_drives_per_driving_day = df.groupby('label')['drives_per_driving_day'].median()
print("Median drives per driving day for churned and retained users:")
print(median_drives_per_driving_day)

Median drives per driving day for churned and retained users:
label
churned     10.0000
retained     4.0625
Name: drives_per_driving_day, dtype: float64

In [26]:
# For each label, calculate the number of Android users and iPhone users
android_users_by_label = df[df['device'] == 'Android'].groupby('label').size()
iphone_users_by_label = df[df['device'] == 'iPhone'].groupby('label').size()
print("Android users by label:")
print(android_users_by_label)
print("iPhone users by label:")
print(iphone_users_by_label)

Android users by label:
label
churned      891
retained    4183
dtype: int64
iPhone users by label:
label
churned     1645
retained    7580
dtype: int64

In [27]:
# For each label, calculate the percentage of Android users and iPhone users
android_percentage_by_label = (android_users_by_label / df.groupby('label').size()) * 100
iphone_percentage_by_label = (iphone_users_by_label / df.groupby('label').size()) * 100
print("Android percentage by label:")
print(android_percentage_by_label)
print("iPhone percentage by label:")
print(iphone_percentage_by_label)

Android percentage by label:
label
churned     35.134069
retained    35.560656
dtype: float64
iPhone percentage by label:
label
churned     64.865931
retained    64.439344
dtype: float64

In [1]:
# Did the data contain any missing values? How many, and which variables were affected? Was there a pattern to the missing data?
# 700  Total missing values in 'label' column
# The 'label' column had 700 missing values, which is about 4.67% of the total entries.
#  The missing values were not evenly distributed between iPhone and Android users, with iPhone users having a higher percentage of missing labels"

# What is a benefit of using the median value of a sample instead of the mean?
# The median is less affected by outliers and skewed data, providing a more robust measure of central tendency, especially in datasets with extreme values.

# Did your investigation give rise to further questions that you would like to explore or ask the Waze team about?
# Yes, further questions could include:
# - What are the specific features or behaviors that differentiate churned users from retained users?
# - Are there specific times or conditions under which churn is more likely to occur?
# - How do user engagement metrics (like km per drive, drives per driving day) vary between churned and retained users?

# What percentage of the users in the dataset were Android users and what percentage were iPhone users?
# iPhone users: 64.48%
# Android users: 35.52%


# What were some distinguishing characteristics of users who churned vs. users who were retained?
# Churned users tended to have lower median values for km per drive, km per driving day, and drives per driving day compared to retained users.

# Was there an appreciable difference in churn rate between iPhone users vs. Android users?
# Yes, the churn rate was higher among iPhone users compared to Android users, with 4.67% of iPhone users having missing labels compared to 2.33% of Android users.
# The churn rate for iPhone users was approximately 4.67%, while for Android users it was approximately 2.33%.
# The churn rate for iPhone users was higher than that for Android users, indicating a potential difference in user retention between the two platforms.